p {
	text-align: justify;
}

.toc {
	width: 100%;
	text-align: right;
	text-decoration: underline;
}

tag {
	font-weight: bold;
	color:#8a1f11;
}

h1 {
	border-bottom: 1px solid #999;
	padding-bottom: 0.2em;
}

